.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 2px;
 
  }
  
  .grid-container > div {
    border-radius: 40%;
    border: 1px; 
    text-align: center;
    font-size: 30px;
   
  }